body{
  /* background-color:#a3a3a3; */
  font-family: Helvetica;
}

.main-page-light {
  background-color: #fff;
}

.main-page-dark {
  background-color: #a3a3a3;
}

/* Header */
.header-wrapper {
  background-color: #757575;
  border-bottom: 1px solid #111111; 
  width: 100%;
  height: 60px;
}

.header-wrapper-light {
  background-color: #0077ff;
  border-bottom: 1px solid #111111;
  width: 100%;
  height: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Lucida Console", Monaco, monospace;
  color: #111111;
  font-weight: bold;
  position: relative;
  padding-top: 10px;
}

/* Selected Audio */
.audio-wrapper {
  padding-top:20px;
  /* padding-left: 30px; */
  padding-right: 30px;
  vertical-align: middle;
  align-content: center;
  
}

.audio-heading {
  font-family: "Lucida Console", Monaco, monospace;
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 18px;
  width: 300px;
}

.audio-img img {
  max-height: calc(100vh - 220px);
  width: 100%;
}

.audio-date {
  font-family: "Lucida Console", Monaco, monospace;
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 15px;
  margin-top: 0px;
  width: 300px;

}

.audio-done-button {
  display: flex;
  align-items: right;
  justify-content: right;
  font-weight: normal;
  font-size: 20px;
  margin-top: -15px;
  padding-left: 15px;  

}

.btn-action{
  font-family: "Lucida Console", Monaco, monospace;
  background-color:#2600ff;
  border-color: #0077ff;
  height:40px;
  margin-right: 10px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-action:hover {
  background-color: #2818c0;
  border-color: #2818c0;
}

.btn-add {
  position: absolute;
  right: 0px;
}

/* Audio List */
.audio-list-wrapper {
  padding-top:20px;
  width: 1000px;
}

.audio-list-table {
  margin-top: 20px;
  height: 450px;
  overflow-y: scroll;
  cursor: pointer;
  width: 1140px;
}

.search-button:hover {
  background-color: #2818c0;
  border-color: #2818c0;
  color: white;
}

#searchButton{
  width: 20%;
}

.search-container {
  width:100%;
  text-align: right;
  align-items: right;
  justify-content: right;

}

.title-container {
  width:100%;
}

#search-tag-button {
  padding-bottom: 0em;
  padding-right: 1em;
}

#search-tag-textbox{
  padding-top: 1em;
  height: 8px  ;
}
.spacing{
  opacity: 0;
}

.audio-player{
  background-color: #8d8d8d;
  float: left;
  width: 450px;
}

.audio-player-light{
  background-color: #3d89ec;
  float: left;
  width: 450px;
}
.audio-container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.audio-details {
  float: left;
  padding-right: 10px;
}

.footer {
  background-color: #8d8d8d;
  border-top: 1px solid #111111;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
}

.footer-light {
  background-color: #3d89ec;
  border-top: 1px solid #111111;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
}

.conditional-buttons {
  align-items: center;
  justify-content: center;
  width: 200px;
}
.botButton{
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}

.theme-switch{
  float: left;
}

.row {
  height: 850px;
}

.nav-row{
  width: 480px; 
}
